Repository Mattshark89/OpenFlight-VRC, pull requests merged in 2023-05, with the labels that each got.

#18 add the Maximus Draconis Wyvern
  Packages/com.mattshark.openflight/Runtime/data.json
Labels: Avatar Addition

#19 Additional public world with OpenFlight implemented
  README.md
  docs/README.md
Labels: documentation

#21 Check for menu presence before enabling flap/flight
  Packages/com.mattshark.openflight/Runtime/Scripts/Flight/WingFlightPlusGlide.cs
Labels: Flight Physics
